.App{
  background-color: rgb(255, 186, 37);
  height: 110px;
  border: 2px black solid;
}

html{
  background-color: rgb(168, 85, 85);
}

.divNavBar{
  display: flex;
  justify-content: space-between; 
}

.divNavBar h3{
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 80px;
  font-size: x-large;
}

.divNavBar img{
  width: 100px;
  height: 100px;

}

.divLogoSlogan{
  display: flex;
}

.buttonNavBar{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

button{
  border: 2px solid black;
  border-radius: 6px;
 
}

.carrito img{
  width: 70px;
  height: 70px;

}

.carrito{
  font-size: medium;
}

.divCarrito{
  display: flex;
  margin: 20px;
}

.divSaludo{
  text-align: center;
  transition:all.2s;
}
.divSaludo h1{
  transform: translate(30px, 50px );
}