.App {
  background-color: rgb(255, 186, 37);
  background-image: url(https://i.pinimg.com/736x/a0/f2/5f/a0f25f9d02d7fab53ea3efc747119b75.jpg);
  height: 110px;
  border: 2px black solid;
}

html {
  background-color: rgb(168, 85, 85);
  background-image: url(https://st2.depositphotos.com/4760957/7270/i/600/depositphotos_72705555-stock-photo-big-wall-of-guitar-amps.jpg);
}


.divNavBar {
  display: flex;
  justify-content: space-between;
}

.divNavBar h3 {
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 80px;
  font-size: x-large;
}

.divNavBar img {
  width: 100px;
  height: 100px;

}

.divLogoSlogan {
  display: flex;
}

.buttonNavBar {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  font-size: larger;
  font-weight: bold;
}

.Option{
  border: 2px solid black;
  padding: 10px;
  border-radius: 6px;
  background-color: grey;
  color: black;
}


button {
  border: 2px solid black;
  border-radius: 6px;

}

.carrito img {
  width: 70px;
  height: 70px;

}

.carrito {
  font-size: medium;
}

.divCarrito {
  display: flex;
  margin: 20px;
  font-size: large;
}

.h4Carrito{
  background-color: white;
  border-radius: 10px;
  width: 20px;
  text-align: center;
  border: 2px solid black;
}
.divCarrito img{
  width: 50%;
}



.divSaludo {
  text-align: center;
  transition: all.2s;
}

.divSaludo h1 {
  transform: translate(30px, 50px);
}


.ItemDiv {
  display: flex;
  background-color: gray;
  border: 4px solid black;
  border-radius: 8px;
  justify-content: space-evenly;
  max-width: 30%;
  align-items: center;
  margin: 2px;
}

.ItemDivImg img {
  width: 350px;
  height: 350px;
  border-bottom: 2px solid black;
}

.ItemDivCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.ItemListDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ItemDivText{
  text-align: center;
}

.BotoneraCounter {
  display: flex;
  justify-content: space-between;
}

.BotoneraCounter :hover{
  cursor: pointer;
  background-color: gold;
  font-size: large;
  border-radius: 20px;
}


 

.divDetail{
  background-color: rgb(66, 59, 59);
  color: rgb(109, 109, 231);
  border: 2px solid rgb(20, 13, 13);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 30%;

}

.DetailOption{
  background-color: white;
  color: black;
  border: solid 2px black;
  border-radius: 10px;
}

.DetailOption :hover{
  cursor: pointer;
  background-color: gold;
  font-size: large;
  border-radius: 20px;
}

.ItemDetailDiv{
  display: flex;
  justify-content: space-evenly;
}

.BtnDetail{
  border: solid 2px black;
  border-radius: 6px;
  
}

.BtnDetail:hover{
  background-color: gold;
  font-size: large;
  border-radius: 17px;
  font-weight: bold;
  color: black;
}

.divCart{
  display: flex;
  justify-content: space-evenly;
}

.divBtnCart {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  background-color: gray;
}
.divBtnCart img{
width: 400px;
 height: 400px;
 align-items: center;
 border: 2px solid black;
 margin: 35px;
}

.divCardCart {
  display: flex;
  border: 2px solid black;
}

.btnTerminarCompra {
  background-color: darkgreen;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  font-size: large;
}

.btnVaciar{
  background-color: rgb(196, 24, 24);
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  font-size: larger;
}

.totalCart{
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bolder;
}


.divForum0{
  background-color: beige;
  text-align: center;
  border: 2px solid black;
  padding: 150px;
}

.divForum1{
  font-weight: bold;

}

.h1forum{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.finishBuy{
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: chartreuse;
}

.backHome{
  background-color: azure;
  border: 2px solid;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.finish0 {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.cartVacio0{
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  margin: 150px;
  font-size: xx-large;
  border: 5px solid black;
}

.carritoVacio1{
  background-color: red;
  border: 3px solid black;
}

.btnCartVacio{
  border: 5px solid black;
  border-radius: 10px;
  background-color: greenyellow;
  font-weight: bold;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}